.zbgr{
  height: 20px;
  background-color:red;
}

.zcontainer{
  border: 2em solid #dddddd;
}
.zlcol-border{
	border-top:none !important;
	border-right:3px dotted #dee2e6;
}
.zrcol-border{
	border-top:none !important;
}
.zul{
	list-style-position:inside;
	text-align:center;
	/*margin-left:30%*/
}

.zblog{
	margin-top:2%;
	margin-bottom:1%;
}

.zproject{
	margin-bottom:20px;
}
.zproject h3::before{
  	background: #ffd42d;
    content: "";
    height: 2px;
    left: 0%;
    position: absolute;
    width: 100%;
    margin-top:-10px;
}